{% extends 'base.html' %}
{% load static %}

{% block content %}
      <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
    background: url('{% static 'response/images/bg-1-SAE.webp' %}');
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    height: 100vh;
    overflow-y: hidden;
}
    .b1{
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  background-size: cover;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  margin: auto;
  text-align: center;
  margin-top: -200px;

}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
  font-size: 400%;
  text-shadow: 0 0 300px #000;
  margin-bottom: 100px;
}
.content h2{
  font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
  font-size: 100%;
  text-shadow: 0 0 300px #000;
}
.content .btn{
  border-radius: 9px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
}
.content .btn:hover{
  color: #2196f3;
}
@media (max-width: 500px) {
    .content h1 {
        font-size: 200%;
        margin-bottom: 20px;
    }
}
  /*cursor animation*/
.cursor{
  position: fixed;
  width:40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  left:0;
  right:0;
  pointer-events: none;
  transform:translate(-50%,-50%);
  transition: .1s
}
.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color:#fff;
  border-radius: 50%;
  left:0;
  top:0;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transition: .15s;
}




  /*footer styling */
    footer{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #001121!important;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
}
.socials li{
    margin: 0 0px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.2rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #6FDEFF;
}
    </style>
 <section class="b1">
  <div class="in1">
    <div class="content">
      <h1>Thanks for Participating</h1>
      <h2>You would be contacted by our team for further rounds</h2>
      <h2>Keep a look on our social media handles</h2>

    </div>
</div>
</section>
<div class="cursor"></div>
    <div class="cursor2"></div>
<footer>
        <div class="footer-content">
            <h3>Created By SAE NIT Durgapur</h3>
            <ul class="socials">
                <li><a href="https://www.facebook.com/SAENITD/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/sae.nitd/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.saenitd.com/"><i class="fa fa-chrome"></i></a></li>
                <li><a href="sae.nitdgp1@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/company/sae-india-nit-dgp-collegiate-chapter?originalSubdomain=in"><i class="fa fa-linkedin"></i></a></li>
            </ul>

        </div>

    </footer>
<!--cursor script-->
  <script>
    var cursor=document.querySelector(".cursor");
    var cursor2=document.querySelector(".cursor2");
    document.addEventListener("mousemove",function(e){
      cursor.style.cssText = cursor2.style.cssText="left: " +e.clientX + "px; top: " + e.clientY + "px;";
    });
  </script>


{% endblock %}
