{% extends 'base.html' %}
{% load static %}
{% block title %}Audition{% endblock title %}
{% block styles %}
<style>
  h1,
  h3 {
    color: blanchedalmond
  }

  .classOfElements {
    text-align: center;
    vertical-align: middle;
    top: 20%;
  }

  .auditionbtn {
    text-align: center;
    margin: 0px;
  }

  @media(max-width:768px) {
    .classOfElements {
      top: 0%;
    }

    .auditionbtn {
      margin-top: -25%;
    }
  }
</style>
{% endblock styles %}
{% block content %}

<div class="classOfElements jumbotron jumbotron-fluid">

  <h1>Information</h1>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis quam laboriosam, itaque unde ipsam!
    Perferendis optio voluptatum sed eveniet esse temporibus beatae quos praesentium, blanditiis doloremque quidem
    rerum facere laboriosam exercitationem quae est illum. Dignissimos obcaecati illum, debitis recusandae illo beatae
    aperiam quod magni, soluta fugit quidem nihil veritatis.</h3><br><br><br>



  <a href="/response/get_question/" class="btn10 auditionbtn">
    <span><b>START &nbsp;AUDITIONS</b></span>
    <div class="transition"></div>
  </a>
</div>
{% endblock %}
