{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
<div class="mytext">
  <h1><b>SAE NIT-Durgapur Auditions 2021</b></h1> <br>
  <h3> SAEINDIA is one of the few professional engineering societies whose membership <br>
    represents practically every engineering and scientific discipline. </h3>
</div>

<div class="google">
  {% if user.is_authenticated %}
  <a href="/logout/" class="btn10">
    <span>Logout</span>
    <div class="transition"></div>
  </a>
  {% else %}
  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn10">
    <span>Login with Google</span>
    <div class="transition"></div>
  </a>
  {% endif %}
</div>

<h4 class="socialhandle">Our Social Media Links:</h4>
<i class="fab fa-facebook"></i>
<i class="fab fa-instagram"></i>
{% endblock %}